{% extends 'base.html.twig' %}

{% block title %}Chat index{% endblock %}

{% block body %}
    <h1>Chat disponibles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        {% for chat in chats %}
            <tr>
                <td>{{ chat.id }}</td>
                <td>
                    <a href="{{ path('app_user_chat_rooms_new', {'chat_id': chat.id, 'user_id' : user.id}) }}">Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay chats accesibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Chat Unidos</h1>

    <table class="my-table">
        <thead>
            <tr>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        {% for chat in myChats %}
            <tr>
                <td>{{ chat.id }}</td>
                <td>
                    <a href="{{ path('app_user_chat_rooms_new', {'chat_id': chat.id, 'user_id' : user.id}) }}">Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No estas unido a ningun chat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chat_new') }}">Create new</a>
{% endblock %}
