{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <h1>Chat</h1>

    <h3>Number of members: {{ usersActive }}</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chat.id }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_chat_index') }}">back to list</a>
    {% for message in messages %}
    <div class="message">
        <p><strong>{{ message.user.username }}</strong> - <em>{{ message.date|date("d/m/Y H:i") }}</em></p>
        <p>{{ message.text }}</p>
    </div>
    {% endfor %}

    <a href="{{ path('app_message_new', { 'id': chat.id }) }}">New Message</a>

    <form action="{{ path('app_user_chat_rooms_delete') }}" method="post">
        <input type="hidden" name="user_id" value="{{ user.id }}" />
        <input type="hidden" name="chat_id" value="{{ chat.id }}"/>
    <button type="submit">Exit</button>
</form>

{% endblock %}